@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


/* Change the scrollbar color palette */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #04373A;
}

::-webkit-scrollbar-thumb {
    background: #0A8EA8;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #17C9F1;
}

/* Home.css */
@keyframes gradientAnimation {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
  
  .gradient-text {
    background: linear-gradient(45deg, #0A8EA8, #17C9F1, #04373A);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 5s ease infinite;
  }

